{% extends "base.html" %}
{% block titulo %} - Books{% endblock %}
{% block content %}
<!-- {% load static %} -->
<!-- Sección de MARCO de BOOK -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="{% static 'images/logo2.svg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title bg-warning p-1 text-center text-light">{{book_title}}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Id # {{book_id}}</h5>
                    <p class="card-text">{{book_description}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h4 class="bg-warning p-2 text-center text-light">Authors</h4>
                <ul>
                    <!-- ACA EMPIEZA LA RUTINA DE MOSTRAR LISTA DE AUTORES DEL BOOK -->
                    {% for authors in author_list %}
                    <li>{{authors.id}} {{authors.first_name}} {{authors.last_name}}</li>
                    {% endfor %}
                    <!-- ACA TERMINA LA RUTINA DE MOSTRAR LISTA DE AUTORES -->
                </ul>
            </div>
            <div class="row">
                <h4 class="bg-warning p-2 text-center text-light">Actions</h4>
                <div class="col">
                    <!-- cargo un dato random para verificar si funciona la RUTA -->
                    <form action="" method="POST">
                        {% csrf_token %}
                        <!-- HAY QUE PONERLE UN NOMBRE PARA IDENTIFICARLO EN LA VIEW.. WN -->
                        <select class="form-select mt-2" name="author_selected">
                            <!-- NO ESTÁ TOMANDO EL VALOR DEL SELECT  -->
                            {% for author in author_all %}
                            <option value="{{author.id}}">{{author.id}} {{author.first_name}} {{author.last_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="col">
                            <button class="btn btn-warning mt-3 text-light" type="submit">Add author</button>
                            <!-- EL ACTION SE EJECUTA DESPUES DEL BOTON SUBMIT?????  -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Sección MARCO de BOOK-->
{% endblock %}